@import url('https://fonts.googleapis.com/css?family=Hind:400,600|Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,700&display=swap');

body {
  background-color: #F0E7D8 !important;
  font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3 {
  color: #030027;
  font-weight: 600 !important;
}

h1 {
  font-weight: 700 !important;
}

.card {
  height: 264px;
  padding: 16px;
  margin-bottom: 16px;
}

.card > h4 {
  margin-top: 8px;
  margin-bottom: 0;
  color: black;
  text-decoration: none;
}

.card > div {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}


